*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 0 (props) 0;
  font-family: (props);
  font-size: (props);
  background-color: (props);
  color: (props);
}

h1, h2, h3, h4{
  color: (props);
  font-weight: (props);
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}